.assistant-onboarding {
  margin-top: 20px;
  width: 360px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assistant-onboarding__logo {
  margin-bottom: 10px;
}

.assistant-onboarding__title {
  font-size: 20px;
  font-weight: 500;
  color: $palette-neutral-1200;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.assistant-onboarding__title-icon {
  color: $palette-cyan-700;
  margin-right: 6px;
}

.assistant-onboarding__message {
  display: flex;
  background-color: $palette-cyan-50;
  border: 1px solid $palette-cyan-200;
  border-radius: 12px;
  padding: 12px 16px;
  overflow-wrap: break-word;
  width: 100%;
}

.assistant-onboarding__loading-wrapper {
  flex: 0 0 28px;
  width: 28px;
}

.assistant-onboarding__loading {
  @include loading(1.4rem, $palette-cyan-500);
}

.assistant-onboarding__text {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 20px;
  color: $palette-cyan-700;
}
