@import 'side_bar';
@import 'automation_workflow';
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import 'workflow/all';
@import 'node/all';
