.paid-features__image {
  background-color: $palette-neutral-200;
  padding: 16px 0 0 16px;

  @include rounded($rounded-md);
}

.paid-features__image-header {
  background-color: $white;
  height: 26px;
  border-top-left-radius: $rounded-md;
  display: flex;
  align-items: center;
  gap: 7px;
  border-bottom: solid 1px $palette-neutral-200;
  padding-left: 12px;
}

.paid-features__image-circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: solid 1px;

  &--red {
    background-color: #ee6a5f;
    border-color: #d15e53;
  }

  &--orange {
    background-color: #f5be4f;
    border-color: #d6a243;
  }

  &--green {
    background-color: #61c454;
    border-color: #58a942;
  }
}

.paid-features__image-img {
  display: block;
  width: 100%;
}
