.function-name-highlight {
  color: $palette-cyan-800;
  font-weight: 500;
  background-color: $palette-cyan-50;
  padding: 4px 8px;
  height: 24px;
  display: inline-block;
  vertical-align: top;

  @include rounded;
}

.operator-highlight {
  color: $palette-green-800;
  font-weight: 500;
  background-color: $palette-green-50;
  padding: 3px 8px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

  @include rounded;
}

.text-segment {
  min-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 3px 0;
  margin-right: 4px;
  line-height: 18px;
}

.function-comma-highlight {
  margin-right: 4px;
}

.function-comma-highlight,
.function-paren-highlight {
  color: $palette-cyan-800;
  font-weight: 500;
  background-color: $palette-cyan-50;
  padding: 4px 8px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

  @include rounded;
}

.formula-input-field {
  height: auto;
  font-size: 13px;
  min-height: 36px;
  padding: 5px 12px 1px;

  // If the field is empty, then give it the
  // same padding as a normal form input field.
  &:has(div.is-editor-empty) {
    padding: 10px 16px;
    line-height: 100%;
  }

  &.formula-input-field--large {
    line-height: 25px;
    padding: 10px 12px;
    min-height: 48px;
  }

  // Remove margin from the last element to avoid trailing space
  /* stylelint-disable-next-line selector-class-pattern */
  .ProseMirror {
    span:last-child {
      margin-right: 0;
    }

    > div {
      > span:not(.text-segment) {
        margin: 0 4px 4px 0;
      }
    }
  }
}

.formula-input-field--focused {
  border-color: $palette-blue-500;

  &.formula-input-field--error {
    border-color: $palette-red-400;
  }
}

.formula-input-field--error {
  border-color: $palette-red-400;
}

.formula-input-field--disabled {
  user-select: none;
}

.formula-input-field__reset-button {
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.ProseMirror div.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $palette-neutral-500;
  pointer-events: none;
  height: 0;
}
