.formula-input-field {
  height: auto;
  font-size: 13px;
  min-height: 36px;
  line-height: 25px;
  padding: 5px 12px;

  // If the field is empty, then give it the
  // same padding as a normal form input field.
  &:has(div.is-editor-empty) {
    padding: 10px 16px;
    line-height: 100%;
  }

  &.formula-input-field--large {
    line-height: 25px;
    padding: 10px 12px;
    min-height: 48px;
  }
}

.formula-input-field--focused {
  border-color: $palette-blue-500;

  &.formula-input-field--error {
    border-color: $palette-red-400 !important;
  }
}

.formula-input-field--error {
  border-color: $palette-red-400;
}

.formula-input-field--disabled {
  user-select: none;
}

.formula-input-field__reset-button {
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.ProseMirror div.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $palette-neutral-500;
  pointer-events: none;
  height: 0;
}

// Atomic comma style
.formula-input-field__comma,
.formula-input-field__parenthesis {
  color: $palette-cyan-800;
  font-weight: 500;
  background-color: $palette-cyan-50;
  padding: 0 8px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

  @include rounded;
}
